*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
html, body{
    height: 100%;
    width: 100%;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifl;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: Arial, sans-serif;
}
h1{
    color: rgb(0, 0, 255);
}
button{
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(0, 0, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;

}






































